body {
  background-color: #d1d1d1;
}

.row {
  margin: 0;
}

header {
  width: 100%;
  background-color: rgb(100, 139, 255);
}
header .header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .header-container .img-part {
  border-bottom: 5px solid white;
  width: 25%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
header .header-container .img-part img {
  border-radius: 50%;
  width: 100%;
  background-color: white;
  z-index: 3;
}
@media (max-width: 600px) {
  header .header-container .img-part img {
    width: 80%;
  }
}
header .text-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
}
header .text-part h1,
header .text-part p,
header .text-part h3 {
  text-align: center;
}
header .text-part h1 {
  font-size: 30px;
}
header .text-part h3 {
  font-size: 20px;
}
header .text-part p {
  font-size: 14px;
  color: grey;
}
header .text-part a {
  border: none;
  background-color: rgb(100, 139, 255);
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  border: 1px solid rgb(54, 101, 243);
  text-decoration: none;
}
header .text-part a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(54, 101, 243);
}

.information {
  margin: 10vh 0;
  padding: 5vh 0;
  width: 100%;
  height: auto;
  font-family: "Nunito";
}
.information .row .info-item {
  width: 100%;
  border: 2px solid rgb(0, 27, 107);
  background-color: #f1f5ff;
  border-radius: 10px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information .row .info-item .head-main {
  padding: 2vh 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(149, 173, 247);
}
.information .row .info-item .head-main .icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information .row .info-item .head-main .icon i {
  font-size: 18px;
  color: #fff;
}
.information .row .info-item .head-main .head-text {
  padding-left: 3vh;
  color: #03294b;
}
.information .row .info-item .head-main .head-text p {
  font-size: 25px;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
.information .row .info-item .body-main {
  width: 93%;
  padding: 2vh 0;
  color: #000;
}
.information .row .info-item .body-main a {
  font-size: 15px;
}
.information .row .info-item .body-main .sub-title {
  color: #0f0f0f;
  padding: 0;
  margin: 0;
}
.information .row .info-item .body-main .facilities-icons-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8daac8;
  padding: 2vh 0;
  border-radius: 10px;
}
.information .row .info-item .body-main .facilities-icons-main .item {
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.information .row .info-item .body-main .facilities-icons-main .item a {
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.information .row .info-item .body-main .facilities-icons-main .item i {
  font-size: 25px;
  color: #0e5797;
}
.information .row .info-item .body-main .facilities-icons-main .item p {
  padding: 1vh 0;
  margin: 0;
  color: #fff;
  font-size: 15px;
}
.information .row .info-item .body-main .facilities-icons-main .item:hover a i {
  color: #fff;
}
.information .row .info-item .body-main .facilities-icons-main .item:hover a p {
  color: #fff;
}
.information .row .info-item:hover {
  background-color: rgb(183, 183, 183);
  color: #fff;
}

.head-part {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.head-part .icon {
  margin-right: 10px;
}
.head-part .opening-time {
  margin: 0;
  font-size: 20px;
}

.day-time {
  width: 100%;
}
.day-time .mycard {
  width: 100%;
  border-bottom: 1px dashed gray;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.day-time .mycard .day {
  width: 20%;
  margin-right: 20px;
}
.day-time .mycard .time {
  display: flex;
  justify-content: end;
  width: 80%;
  letter-spacing: 1px;
}
.day-time .last {
  border: none;
}

.contact-card {
  margin-bottom: 10px;
}
.contact-card .head-text {
  font-weight: 600;
  margin-bottom: 6px;
}
.contact-card .body-text {
  text-decoration: none;
}

.social-media {
  padding-left: 20px;
}/*# sourceMappingURL=style.css.map */